.latest_recipes {
    @include overHidden;
    .recipes_list {
        padding-top: 10px;
        ul {
            margin: 0 -8px;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            padding: 0 8px;
            @include colSize(4);
            margin-top: 40px;
        }
        .image_block {
            display: block;
            @include overHidden;
            @extend %centeredImage;
            max-height: 500px;
            &:before {
                display: block;
                content: "";
                padding-bottom: 100%;
            }
            img {
                @extend %noBlink;
                @extend %all300;
            }
        }
        .title_block {
            margin-top: 20px;
            a {
                @include textOverflow(2,relative);
                color: inherit;
                @extend %color300;
                font-family: $playfairSb;
                @extend %newsTitle;
                @include mediaFrom($size1200) {
                    font-size: 270%;
                }
            }
        }
        .author_block {
            font-size: 150%;
            line-height: 20px;
            margin-top: 10px;
        }
        .description_block {
            margin-top: 15px;
            @include textOverflow(3,relative);
            color: rgba($descriptionColor, 0.6);
            @include mediaFrom($size960) {
                font-size: 150%;
                line-height: 20px;
            }
            @include mediaTo($size576) {
                font-size: 120%;
                line-height: 15px;
            }
        }
        .info_block {
            max-width: 91%;
        }
    }
    @include mediaRange($size960, $size1200) {
        .recipes_list {
            padding-top: 5px;
            li {
                margin-top: 30px;
            }
            .info_block {
                max-width: 95%;
            }
            .title_block {
                margin-top: 15px;
            }
            .author_block {
                font-size: 130%;
                line-height: 17px;
            }
            .image_block:before {
                padding-bottom: 75%;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        .recipes_list {
            li {
                margin-top: 20px;
            }
            .title_block {
                margin-top: 10px;
            }
            .author_block {
                font-size: 120%;
                line-height: 15px;
            }
            .image_block:before {
                padding-bottom: 62.5%;
            }
            
        }
    }
    @include mediaTo($size960) {
        .recipes_list {
            padding-top: 0;
            .title_block {
                margin-top: 5px;
            }
            .author_block {
                margin-top: 5px;
            }
            .description_block {
                margin-top: 10px;
            }
            .info_block {
                max-width: 100%;
            }
        }
        
    }
    @include mediaTo($size576) {
        .recipes_list {
            li {
                margin-top: 15px;
                @include colSize(15);
            }
            .author_block {
                font-size: 100%;
                line-height: 12px;
            }
            .description_block {
                -webkit-line-clamp: 2;
            }
            .image_block:before {
                padding-bottom: 57.14%;
            }
        }
    }
}
