html {
    height: 100%;
    font-size: 10px;
    line-height: 1.4286em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    color: $textColor;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    font-family: $regular;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &[style*="background-image"]:after {
        @include fixCoverLayer;
        content: "";
        background-image: url('images/gradient_layer.svg');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    @include popupBody($white, 0, 0.5s);
    &.popup_opened {
        .header,
        .content,
        .footer,
        .top_bnner {
            filter: blur(20px) opacity(0.31);
            -webkit-filter: blur(20px) opacity(0.31);
        }
    }


}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
select,
textarea,
button,
a,
.slick-slide {
   outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
    text-decoration: none;
}

a {
    color: $siteColor;
}

button {
    cursor: pointer;
    display: block;
}

img	{
    max-height: none;
    border: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

.page_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $rowMargin;
    margin-right: $rowMargin;
    .cb {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.page_container {
    width: 100%;
    max-width: $containerWidth + 2*$containerPadding;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin: 0 auto;
}

.phone_link:not(.clickable) {
    color: inherit;
    cursor: default;
    pointer-events: none;
}

.individual_hint,
.drop_list,
.drop_block {
    display: none;
}
.error_hint {
    display: none;
    position: absolute;
    overflow: hidden;
    color: $error;
    bottom: 24px;
    right: 10px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    @extend %color300;
    &:after {
        @extend %centerBlock;
        content: "!";
         background: $errorIcon;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         color: $white;
         font-size: 1.2rem;
         margin-left: auto;
         cursor: pointer;
    }
    &:hover {
        color: $error;
        font-size: 150%;
        line-height: 22px;
    }
}
.help-block.form-error {
    display: none !important;
}
.has-error {
    .error_hint,
    ~ .error_hint {
        display: block;
   }

}

.field_block {
    position: relative;
    margin-bottom: 40px;
    label {
        display: block;
        margin: 0;
        font-weight: normal;
        position: relative;
        &.textarea_block + .error_hint {
            bottom: 100%;
            margin-bottom: -25px;
        }
    }
    @include placeholder {
        color: inherit;
        opacity: 0.6;
    }
    input,
    textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $black !important;
        color: inherit;
        font-size: 200%;
        line-height: 1.5em;
        font-family: $regular;
        padding: 0 40px 20px 0;
        background: transparent;
   }
   .checkbox_label + .error_hint {
       bottom: 50%;
       margin-bottom: -10px;
   }
   input[type="checkbox"] {
       @extend %maskedInput;
       &:checked + .check_btn:before {
           border-width: 10px;
           @extend %all300;
       }
   }
   .check_btn {
       display: block;
       font-size: 160%;
       line-height: 25px;
       font-family: $light;
       color: $secondTextColor;
       position: relative;
       @extend %textUnSelect;
       cursor: pointer;
       @include siteColorHover;
       padding-left: 40px;
       text-align: left;
       &:before {
           @include psevdoAbs;
           min-width: 20px;
           height: 20px;
           border-radius: 50%;
           border: 1px solid;
           left: 0;
           top: 3px;
       }
       a {
           color: inherit;
           @include siteColorHover;
           text-decoration: underline;
       }
   }
    textarea {
        resize: none;
        display: block;
   }
   @include mediaRange($size960, $size1200) {
        margin-bottom: 36px;
        input,
        textarea {
            font-size: 180%;
            padding-bottom: 18px;
        }
        .error_hint {
            bottom: 22px;
            &:hover {
                font-size: 140%;
            }
        }
        input[type="checkbox"] {
            &:checked + .check_btn:before {
                border-width: 8px;
            }
        }
        .check_btn {
            font-size: 140%;
            line-height: 20px;
            padding-left: 30px;
            &:before {
                min-width: 16px;
                height: 16px;
            }
        }
   }
   @include mediaRange($size576, $size960) {
        margin-bottom: 32px;
        input,
        textarea {
            font-size: 160%;
            padding-bottom: 16px;
        }
        .error_hint {
            bottom: 20px;
            &:hover {
                font-size: 130%;
            }
        }
        input[type="checkbox"] {
            &:checked + .check_btn:before {
                border-width: 6px;
            }
        }
        .check_btn {
            font-size: 120%;
            line-height: 18px;
            padding-left: 22px;
            &:before {
                min-width: 12px;
                height: 12px;
            }
        }
   }
   @include mediaTo($size576) {
       margin-bottom: 28px;
        input,
        textarea {
            font-size: 140%;
            padding-bottom: 14px;
        }
        .error_hint {
            bottom: 18px;
            &:after {
                width: 18px;
                height: 18px;
            }
            &:hover {
                font-size: 120%;
            }
        }
        input[type="checkbox"] {
            &:checked + .check_btn:before {
                border-width: 5px;
            }
            &[data-validation] + .check_btn {
                margin-right: 40px;
            }
        }
        .check_btn {
            font-size: 110%;
            line-height: 16px;
            margin-left: -18px;
            padding-left: 22px;
            &:before {
                min-width: 10px;
                height: 10px;
            }
        }
        .checkbox_label + .error_hint {
            margin-bottom: -8px;
        }
        label.textarea_block + .error_hint {
            margin-bottom: -20px;
        }
   }
}
.cb {
    display: block;
    clear: both;
}

.section_title {
    font-family: $medium;
    margin: 0;
}

.primary_btn {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: $bold;
    border-radius: 25px;
    &:before {
        display: block;
    }
    @include mediaFrom($size1440) {
        font-size: 160%;
        line-height: 24px;
        padding: 13px 30px;
        min-width: 158px;
        &:before {
            font-size: 2.4rem;
            margin-right: 16px;
        }
    }
    @include mediaRange($size1200, $size1440) {
        font-size: 150%;
        line-height: 20px;
        padding: 12px 29px;
        min-width: 142px;
        &:before {
            font-size: 2.2rem;
            margin-right: 14px;
        }
    }
    @include mediaRange($size960, $size1200) {
        font-size: 140%;
        line-height: 18px;
        padding: 11px 28px;
        min-width: 132px;
        &:before {
            font-size: 2rem;
            margin-right: 12px;
        }
    }
    @include mediaRange($size768, $size960) {
        font-size: 120%;
        line-height: 16px;
        padding: 10px 27px;
        min-width: 118px;
        &:before {
            font-size: 1.8rem;
            margin-right: 10px;
        }
    }
    @include mediaRange($size576, $size768) {
        font-size: 110%;
        line-height: 14px;
        padding: 8px 25px;
        min-width: 98px;
        &:before {
            font-size: 1.7rem;
            margin-right: 8px;
        }
    }
    @include mediaTo($size576) {
        font-size: 90%;
        line-height: 12px;
        padding: 6px 23px;
        min-width: 80px;
        &:before {
            font-size: 1.6rem;
            margin-right: 8px;
        }
    }
}

.secondary_btn {
    border: 1px solid;
    border-radius: 24px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    font-family: $bold;
    &:before {
        display: block;
    }
    @include mediaFrom($size1440) {
        font-size: 160%;
        line-height: 24px;
        padding: 11px 29px;
        min-width: 158px;
        &:before {
            font-size: 2.4rem;
            margin-right: 16px;
        }
    }
    @include mediaRange($size1200, $size1440) {
        font-size: 150%;
        line-height: 20px;
        padding: 10px 28px;
        min-width: 142px;
        &:before {
            font-size: 2.2rem;
            margin-right: 14px;
        }
    }
    @include mediaRange($size960, $size1200) {
        font-size: 140%;
        line-height: 18px;
        padding: 10px 27px;
        min-width: 132px;
        &:before {
            font-size: 2rem;
            margin-right: 12px;
        }
    }
    @include mediaRange($size768, $size960) {
        font-size: 120%;
        line-height: 16px;
        padding: 9px 26px;
        min-width: 118px;
        &:before {
            font-size: 1.8rem;
            margin-right: 10px;
        }
    }
    @include mediaRange($size576, $size768) {
        font-size: 110%;
        line-height: 14px;
        padding: 7px 24px;
        min-width: 98px;
        &:before {
            font-size: 1.7rem;
            margin-right: 8px;
        }
    }
    @include mediaTo($size576) {
        font-size: 90%;
        line-height: 12px;
        padding: 5px 22px;
        min-width: 80px;
        &:before {
            font-size: 1.6rem;
            margin-right: 8px;
        }
    }
}

.main_btn {
    background: $siteColor;
    color: $white;
    @include standardBgHover;
}

.dark_btn {
    background: $black;
    color: $white;
    @include opacityHover;
}

.light_btn {
    background: $white;
    color: $black;
    @include siteColorHover;
}

.socials_list {
    @extend %standardList;
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 0;
    a {
        display: block;
        color: inherit;
        @include siteColorHover;
        &:before {
            display: block;
        }
    }
}

.full_ww {
    width: 100vw;
}

.inner_title {
    margin: 0;
    line-height: 1.33em;
    font-family: $titleBoldFont;
    color: inherit;
    @include mediaFrom($size1440) {
        font-size: 450%;
    }
    @include mediaRange($size1200, $size1440) {
        font-size: 400%;
    }
    @include mediaRange($size960, $size1200) {
        font-size: 350%;
    }
    @include mediaRange($size768, $size960) {
        font-size: 300%;
    }
    @include mediaRange($size576, $size768) {
        font-size: 250%;
    }
    @include mediaTo($size576) {
        font-size: 200%;
    }
}

.description_block {
    color: $descriptionColor;
    font-family: $light;
    @include mediaFrom($size1440) {
        font-size: 170%;
        line-height: 22px;
    }
    @include mediaRange($size1200, $size1440) {
        font-size: 160%;
        line-height: 21px;
    }
    @include mediaRange($size960, $size1200) {
        font-size: 140%;
        line-height: 18px;
    }
    @include mediaRange($size768, $size960) {
        font-size: 130%;
        line-height: 16px;
    }
    @include mediaRange($size576, $size768) {
        font-size: 120%;
        line-height: 14px;
    }
    @include mediaTo($size576) {
        font-size: 100%;
        line-height: 12px;
    }
}

.contact_form {
    .description_block {
        margin-top: 10px;
    }
    .error-msg {
        color: #dd3232;
    }
}

a.bnner_inner {
    display: inline-block;
    vertical-align: top;
    @include opacityHover;
    font-size: 0;
}
.top_bnner {
    position: relative;
    overflow: hidden;
    z-index: 101;
    text-align: center;
    .bnner_inner {
        margin: 0 auto;
        img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            height: 90px;
            object-fit: cover;
        }
    }
    @include mediaFrom($size1440) {
        padding: 35px;
    }
    @include mediaRange($size1200, $size1440) {
        padding: 25px 35px;
        .bnner_inner img {
            height: 80px;
        }

    }
    @include mediaRange($size960, $size1200) {
        padding: 15px 35px;
        .bnner_inner img {
            height: 70px;
        }
    }
    @include mediaTo($size960) {
        padding: 0 35px;
    }
    @include mediaRange($size768, $size960) {
        .bnner_inner img {
            height: 60px;
        }
        ~ .content .main_screen {
            img {
                margin-top: -154px;
            }
            .inner_block {
                top: 200px;
            }
        }
        ~ .header .menu_block:before {
            min-height: 154px;
        }
    }
    @include mediaRange($size576, $size768) {
        .bnner_inner img {
            height: 55px;
        }
        ~ .content .main_screen {
           img {
                margin-top: -137px;
            }
            .inner_block {
                top: 190px;
            }
        }
        ~ .header .menu_block:before {
            min-height: 137px;
        }
    }
    @include mediaTo($size576) {
        .bnner_inner img {
            height: 50px;
        }
        ~ .content .main_screen {
            img {
                margin-top: -130px;
            }
            .inner_block {
                top: 190px;
            }
        }
        ~ .header .menu_block:before {
            min-height: 130px;
        }
    }
}

.vertical_bnners {
    margin-left: auto;
    flex: 0 0 300px;
    max-width: 300px;
    .bnner_inner + .bnner_inner {
        margin-top: 40px;
    }
    img {
        width: 100%;
        height: auto;
    }
    @include mediaRange($size1200, $size1440) {
        flex: 0 0 240px;
        max-width: 240px;
        .bnner_inner + .bnner_inner {
            margin-top: 30px;
        }
    }
    @include mediaRange($size960, $size1200) {
        flex: 0 0 180px;
        max-width: 180px;
        .bnner_inner + .bnner_inner {
            margin-top: 20px;
        }
    }
    @include mediaTo($size960) {
        display: none;
    }
}

.horizontal_bnner {
    position: relative;
    overflow: hidden;
    z-index: 101;
    text-align: center;
    .bnner_inner {
        margin: 0 auto;
        img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            height: 90px;
            object-fit: cover;
        }
    }
    + div {
        margin-top: 0;
    }
    @include mediaFrom($size1440) {
        padding: 50px 15px;
    }
    @include mediaRange($size1200, $size1440) {
        padding: 45px 15px;
        .bnner_inner img {
            height: 80px;
        }

    }
    @include mediaRange($size960, $size1200) {
        padding: 30px 15px;
        .bnner_inner img {
            height: 70px;
        }
    }

    @include mediaRange($size768, $size960) {
        padding: 25px 15px;
        .bnner_inner img {
            height: 60px;
        }
    }
    @include mediaRange($size576, $size768) {
        padding: 20px 15px;
        .bnner_inner img {
            height: 55px;
        }
    }
    @include mediaTo($size576) {
        padding: 15px;
        .bnner_inner img {
            height: 50px;
        }
    }
}

.inner_search {
    display: flex;
    @include placeholder {
        color: rgba($secondTextColor, 0.6);
    }
    label {
        display: block;
        flex: 1;
        width: 50%;
    }
    input {
        border: none;
        background: transparent;
        color: inherit;
        width: 100%;
    }
    button {
        @extend %linkTypeBtn;
        @include siteColorHover;
        font-size: 240%;
        &:before {
            display: block;
        }
    }
}

.page_head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .inner_search {
        border-bottom: 1px solid $footerBorderColor;
        align-items: center;
        padding: 0 40px;
        margin-left: 24px;
        flex: 0 0 33.33%;
        max-width: 333px;

        input {
            font-size: 160%;
            line-height: 20px;
            padding: 10px 0;
        }
        button {
            margin-left: 24px;
            color: inherit;
        }
    }
    @include mediaFrom($size1440) {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    @include mediaRange($size1200, $size1440) {
        padding-top: 60px;
        padding-bottom: 35px;
        .inner_search {
            padding: 0 30px;
            input {
                font-size: 150%;
                line-height: 24px;
                padding: 8px 0;
            }
            button {
                font-size: 200%;
                margin-left: 16px;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        padding-top: 45px;
        padding-bottom: 30px;
        .inner_search {
            padding: 0 20px;
            input {
                font-size: 140%;
                line-height: 20px;
                padding: 7px 0;
            }
            button {
                padding: 2px;
                font-size: 180%;
                margin-left: 14px;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        padding-top: 30px;
        padding-bottom: 25px;
        .inner_search {
            padding: 0 10px;
            input {
                font-size: 120%;
                line-height: 18px;
                padding: 5px 0;
            }
            button {
                padding: 3px;
                font-size: 140%;
                margin-left: 12px;
            }
        }
    }
    @include mediaTo($size576) {
        padding-top: 15px;
        padding-bottom: 20px;
        .inner_search {
            padding: 0;
            input {
                font-size: 100%;
                line-height: 16px;
                padding: 3px 0;
            }
            button {
                padding: 5px;
                font-size: 100%;
                margin-left: 10px;
            }
        }
    }
}

.page_title {
    font-family: $titleExtraBoldFont;
    margin: 0;
    color: inherit;
    line-height: 1.3em;
    @include mediaFrom($size1440) {
        font-size: 600%;
    }
    @include mediaRange($size1200, $size1440) {
        font-size: 540%;
    }
    @include mediaRange($size960, $size1200) {
        font-size: 480%;
    }
    @include mediaRange($size768, $size960) {
        font-size: 420%;
    }
    @include mediaRange($size576, $size768) {
        font-size: 360%;
    }
    @include mediaTo($size576) {
        font-size: 300%;
    }
}

.section_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid $black;
    border-width: 1px 0;
    .inner_search {
        margin-left: 100px;
        flex: 1;
        width: 30%;
        max-width: 333px;
        margin-right: auto;
        label {
            order: 2;
        }
        input {
            padding: 0;
            font-size: 250%;
            line-height: 35px;
            font-family: $playfairSb;
        }
        button {
            margin-right: 20px;
            color: rgba($secondTextColor, 0.6);
        }
    }
    @include mediaFrom($size1200) {
        padding: 21px 0;
        .view_all {
            margin: 0 40px;
        }
    }
    @include mediaRange($size960, $size1200) {
        .inner_search {
            input {
                font-size: 220%;
                line-height: 31px;
            }
        }
    }
    @include mediaRange($size576, $size1200) {
        padding: 14px 0;
        .view_all {
            margin: 0 25px;
        }
        .inner_search {
            margin-left: 80px;
            button {
                font-size: 210%;
                margin-right: 12px;
            }
        }
    }
    @include mediaTo($size960) {
        .inner_search {
            input {
                font-size: 200%;
                line-height: 27px;
            }
        }
    }
    @include mediaTo($size576) {
        padding: 7px 0;
        .view_all {
            margin: 0 10px;
        }
        .inner_search {
            margin-left: 60px;
            button {
                font-size: 180%;
                margin-right: 15px;
            }
        }
    }
}

.section_title {
    margin: 0;
    font-family: $playfairSb;
    @include mediaFrom($size1200) {
        font-size: 250%;
        line-height: 35px;
    }
    @include mediaRange($size960, $size1200) {
        font-size: 220%;
        line-height: 31px;
    }
    @include mediaTo($size960) {
        font-size: 200%;
        line-height: 27px;
    }
}

.view_all {
    display: inline-block;
    vertical-align: top;
    color: $siteColor;
    text-decoration: underline !important;
    font-family: $semibold;
    @include standardHover;
    @include mediaFrom($size1200) {
        font-size: 160%;
        line-height: 25px;
    }
    @include mediaRange($size576, $size1200) {
        font-size: 130%;
        line-height: 20px;
    }
    @include mediaTo($size576) {
        font-size: 110%;
        line-height: 17px;
    }
}

// @include mediaFrom($size1440) {

// }
// @include mediaRange($size1200, $size1440) {

// }
// @include mediaRange($size960, $size1200) {

// }
// @include mediaRange($size768, $size960) {

// }
// @include mediaRange($size576, $size768) {

// }
// @include mediaTo($size576) {

// }

.label {
    display: none;
}

a.banner_inner,
a.image_block {
    font-size: 0;
    line-height: 0;
}

a.image_block {
    img {
        @extend %all300;
        @extend %noBlink;
    }
}

.hovered {
    a.image_block img {
        @include transStyle(scale(1.05));
    }
    .title_block a {
        color: $siteColor !important;
    }
}

.author_block {
    .author_name {
        color: $siteColor;
    }
    a.author_name {
        @include darkHover;
    }
}

#loadBtn {
    width: 500px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
}

.share_btns {
    height: 45px;
    .at-share-btn-elements {
        display: flex;
        margin: 0 -5px;
        .at-share-btn {
            color: $textColor !important;
            margin: 0 5px !important;
            @include transStyle(none !important);
            border: 1px solid!important;
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            padding: 0;
            @extend %all300;
            .at-icon-wrapper {
                width: 26px !important;
                height: 26px !important;
                line-height: 1em !important;
            }
            svg {
                color: inherit;
                width: 100% !important;
                height: 100% !important;
                path {
                    fill: currentColor;
                }
            }
            &:hover {
                color: $siteColor !important;
            }

        }
    }
    @include mediaRange($size960, $size1200) {
        height: 39px;
        .at-share-btn-elements {
            .at-share-btn {
                width: 39px;
                height: 39px;
                .at-icon-wrapper {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
    }
    @include mediaRange($size768, $size960) {
        height: 33px;
        .at-share-btn-elements {
            margin: 0 -4px;
            .at-share-btn {
                margin: 0 4px !important;
                width: 33px;
                height: 33px;
                .at-icon-wrapper {
                    width: 18px !important;
                    height: 18px !important;
                }
            }
        }
    }
    @include mediaRange($size576, $size768) {
        height: 27px;
        .at-share-btn-elements {
            margin: 0 -3px;
            .at-share-btn {
                margin: 0 3px !important;
                width: 27px;
                height: 27px;
                .at-icon-wrapper {
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }
    }
    @include mediaTo($size576) {
        height: 21px;
        .at-share-btn-elements {
            margin: 0 -2px 0 -3px;
            .at-share-btn {
                margin: 0 2px 0 3px !important;
                width: 21px;
                height: 21px;
                .at-icon-wrapper {
                    width: 14px !important;
                    height: 14px !important;
                }
            }
        }
    }
}




.standard_textpage {
    color: $secondTextColor;
    border-top: 1px solid;
    img {
        height: auto !important;
        max-width: 100%;
        margin: 40px 0;
        &[style*="float: right"],
        &[style*="float:right"] {
            margin-left: 30px;
            margin-top: 0;
        }
        &[style*="float: left"],
        &[style*="float:left"] {
            margin-right: 30px;
            margin-top: 0;
        }
        + h2,
        + h3,
        &:not([style*="float"]) + .styled_block {
            margin-top: 0;
        }

    }
    h2 {
        line-height: 1.35em;
        font-family: $semibold;
        font-weight: 500;
        color: inherit;
        &:first-child {
            margin-top: 0;
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
        @include standardHover;
    }
    ul {
        margin: 20px 0 27px;
        font-size: 88%;
        line-height: 1.73em;
        padding-left: 20px;
    }
    @include mediaFrom($size1440) {
        font-size: 250%;
        line-height: 35px;
        padding-top: 50px;
        h2 {
            font-size: 120%;
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }
    @include mediaTo($size1440) {
        h2 {
            font-size: 125%;
        }
    }

    @include mediaRange($size1200,$size1440) {
        font-size: 220%;
        line-height: 31px;
        padding-top: 45px;
        h2 {
            margin-top: 45px;
            margin-bottom: 35px;
        }
        img {
            &[style*="float: right"],
            &[style*="float:right"] {
                max-width: 66.67%;
            }
            &[style*="float: left"],
            &[style*="float:left"] {
                max-width: 66.67%;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        font-size: 200%;
        line-height: 28px;
        padding-top: 40px;
        h2 {
            margin-top: 40px;
            margin-bottom: 30px;
        }
        img {
            margin: 30px 0;
            &[style*="float: right"],
            &[style*="float:right"] {
                margin-left: 20px;
                max-width: 60%;
            }
            &[style*="float: left"],
            &[style*="float:left"] {
                margin-right: 20px;
                max-width: 60%;
            }
        }
    }
    @include mediaRange($size768, $size960) {
        font-size: 180%;
        line-height: 25px;
        padding-top: 35px;
        h2 {
            margin-top: 35px;
            margin-bottom: 20px;
        }
    }
    @include mediaTo($size960) {
        ul {
            margin: 15px 0;
            font-size: 81.25%;
            line-height: 1.54em;
        }
        img {
            margin: 20px 0;
            &[style*="float: right"],
            &[style*="float:right"] {
                margin-left: 0;
                max-width: 100%;
                float: none !important;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &[style*="float: left"],
            &[style*="float:left"] {
                margin-right: 0;
                max-width: 100%;
                float: none !important;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
    @include mediaTo($size768) {
        font-size: 160%;
        line-height: 22px;
        padding-top: 30px;
        h2 {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
}

.content .terms_menu {
    .page_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &:before {
            @include colSize(12);
            content: "";
            display: block;
            border-top: 1px solid $black;
        }
    }
    ul {
        @extend %standardList;
        display: flex;
        justify-content: flex-end;

        &.socials_list {
            font-size: 0;
            li {
                margin-right: 30px;
            }
            a {
                color: $black;
                &:before {
                    font-size: 2rem;
                }
            }
        }
        &.terms_menu {
            font-size: 200%;
            line-height: 1.5em;
            margin-left: auto;
            li {
                margin-left: 40px;
            }
            a {
                color: rgba($black,0.4);
            }
        }
    }
    li {
        padding: 30px 0 40px;
    }
    a {
        display: block;
        font-family: $medium;
        @include siteColorHover;
    }
    @include mediaRange($size960, $size1200) {
        li {
            padding: 20px 0 35px;
        }
        ul {
            &.terms_menu {
                font-size: 160%;
            }
            &.socials_list a:before {
                font-size: 1.6rem;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        li {
            padding: 15px 0 30px;
        }
        ul {
            &.terms_menu {
                font-size: 120%;
            }
            &.socials_list a:before {
                font-size: 1.4rem;
            }
        }
    }
    @include mediaTo($size576) {
        li {
            padding: 10px 0 25px;
        }
        ul {
            &.terms_menu {
                font-size: 100%;
                line-height: 1.6em;
                li {
                    margin-left: 30px;
                }
            }
            &.socials_list {
                display: none;
            }
        }
        a {
            font-family: $regular;
        }
    }
}

.image_title {
    display: block;
    @extend %standardAuthor;
    color: $secondTextColor;
    opacity: 0.6;
    margin-top: 20px;
    @include mediaTo($size960) {
        padding: 0 $containerPadding;
        margin-top: 10px;
    }
}
