.header {
    z-index: 100;
    position: relative;
    &_top {
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 20px;
        height: 120px;
    }
    .main_logo {
        flex: 0 0 392px;
        max-width: 392px;
        padding-right: 89px;
        margin-right: auto;
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin-top: 29px;
        height: 99px;
        position: relative;
        z-index: 20;
        a {
            display: block;
            @include opacityHover;
            font-size: 0;
            line-height: 0;
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 99px;
        }
    }
    .primary_btn {
        margin-left: 30px;
    }
    .socials_list {
        margin-left: 49px;
        li:not(:first-child) {
            margin-left: 30px;
        }
        a:before {
            font-size: 1.9rem;
        }
    }
    .lg_block {
        margin-left: 49px;
        a {
            display: block;
            font-size: 250%;
            line-height: 35px;
            color: inherit;
            @include siteColorHover;
        }
    }
    .search_block {
        position: relative;
        margin-left: 46px;
        min-width: 24px;
        display: flex;
        justify-content: flex-end;
    }
    .search_form {
        position: relative;
        width: 0;
        @include placeholder {
            color: inherit;
        }
        @include animStyle(width 0.5s);
        label {
            display: block;
            margin: 0;
            font-weight: normal;
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
            z-index: 2;
            border: none;
            padding: 2px;
            font-size: 200%;
            color: inherit;
            background: transparent;
            @include siteColorHover;
            &:before {
                display: block;
            }
        }
        input {
            border: none;
            border-bottom: 1px solid $black;
            padding: 10px 0;
            background: transparent;
            font-size: 200%;
            line-height: 30px;
            color: inherit;
            width: 100%;
            color: transparent;
            font-family: $playfairSb;
            @include animStyle(all 0.2s);
            @include animDelay(0s);
        }
    }

    &.search_opened {
        .search_form {
            width: 280px;
            input {
                color: $textColor;
                @include animStyle(color 0.4s);
                @include animDelay(0.2s);
            }
        }
    }
    .menu_block {
        border-bottom: 1px solid $black;
    }
    .menu_inner {
        display: flex;
        justify-content: flex-end;
    }
    .main_menu {
        @extend %standardList;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $black;
        font-size: 200%;
        line-height: 35px;
        font-family: $medium;
        > li {
            padding: 25px 0;
            &:not(:first-child) {
                margin-left: 50px;
            }
            > a {
                display: block;
                color: inherit;
                @include siteColorHover;
            }
        }
    }
    @include mediaFrom($size960) {
        .menu_btn {
            display: none;
        }
    }

    @include mediaRange($size1440, $size1680) {
        &_top {
            padding-top: 40px;
            height: 110px;
        }
        .main_menu {
            font-size: 200%;
            line-height: 30px;
            li {
                padding: 20px 0;
                &:not(:first-child) {
                    margin-left: 40px;
                }
            }
        }
        .main_logo {
            flex: 0 0 360px;
            max-width: 360px;
            padding-right: 60px;
        }
    }
    @include mediaRange($size1200, $size1440) {
        &_top {
            padding-top: 30px;
            height: 96px;
        }
        .main_menu {
            font-size: 180%;
            line-height: 28px;
            li {
                padding: 15px 0;
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
        .main_logo {
            flex: 0 0 300px;
            max-width: 300px;
            padding-right: 40px;
            margin-top: 20px;
        }
        .lg_block a {
            font-size: 200%;
            line-height: 30px;
        }
        .search_form input {
            font-size: 180%;
            line-height: 28px;
        }
    }
    @include mediaRange($size960, $size1200) {
        &_top {
            padding-top: 25px;
            padding-bottom: 15px;
            height: 82px;
        }
        .main_menu {
            font-size: 150%;
            line-height: 24px;
            li {
                padding: 10px 0;
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
        .main_logo {
            flex: 0 0 240px;
            max-width: 240px;
            padding-right: 30px;
            margin-top: 5px;
        }
        .lg_block a {
            font-size: 180%;
            line-height: 28px;
        }
        .socials_list,
        .lg_block,
        .search_block {
            margin-left: 30px;
        }
        .search_form input {
            font-size: 160%;
            line-height: 24px;
        }
        .socials_list li:not(:first-child) {
            margin-left: 25px;
        }
    }
    @include mediaRange($size768, $size960) {
        .main_logo {
            flex: 0 0 200px;
            max-width: 200px;
        }
        .menu_btn {
            margin-right: 25px;
        }
        .socials_list,
        .lg_block,
        .search_block {
            margin-left: 25px;
        }
        .lg_block a {
            font-size: 160%;
            line-height: 20px;
        }
        .socials_list li:not(:first-child) {
            margin-left: 20px;
        }
        .menu_block:before {
            min-height: 94px;
        }
        .search_form input {
            font-size: 160%;
            line-height: 24px;
        }

    }
    @include mediaRange($size576, $size768) {
        .main_logo {
            flex: 0 0 160px;
            max-width: 160px;
        }
        .menu_btn {
            margin-right: 20px;
        }
        .socials_list,
        .lg_block,
        .search_block {
            margin-left: 20px;
        }
        .lg_block a {
            font-size: 140%;
            line-height: 18px;
        }
        .socials_list li:not(:first-child) {
            margin-left: 15px;
        }
        .menu_block:before {
            min-height: 82px;
        }
        .search_form input {
            font-size: 140%;
            line-height: 20px;
        }
    }
    @include mediaTo($size960) {
        &_top {
            height: auto;
            padding-top: 25px;
            padding-bottom: 10px;
            align-items: center;
            border-bottom: 1px solid $black;
        }
        .menu_block {
            @include mobileMenu(fixed, 0, $white, 0.5s);
            z-index: 99;
            border: none;
            display: flex;
            flex-direction: column;
            &:before {
                display: block;
                content: "";
                border-bottom: 1px solid $black;
                margin: 0 $containerPadding;
            }
        }
        .menu_btn {
            position: relative;
            z-index: 100;
            border: none;
            @include overHidden;
            width: 22px;
            height: 17px;
            background: transparent;
            padding: 0;
            &:before,
            &:after {
                @include psevdoAbs;
                border-top: 1px solid;
                left: 0;
                @include animStyle(all 0.5s);
            }
            &:before {
                @include torigin(top left);
                top: 0;
                width: 22px;
            }
            &:after {
                @include torigin(left bottom);
                bottom: 0;
                width: 11px;
            }
            span {
                display: block;
                border-top: 1px solid;
                width: 16px;
                @include animStyle(opacity 0.2s);
                @include animDelay(0.3s);
            }
        }
        .main_logo {
            padding-right: 20px;
            margin-top: 0;
            height: auto;
            align-self: center;
            img {
                width: 100%;
                max-height: none;
                height: auto;
            }
        }
        .main_menu {
            font-size: 160%;
            line-height: 25px;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            width: 100%;
            border: none;
            li {
                padding: 10px $containerPadding;
                &:not(:first-child) {
                    margin-left: 0;
                }
            }
        }
        .menu_inner {
            position: relative;
            display: block;
            flex: 1;
            height: 50%;
            overflow-x: hidden;
            overflow-y: auto;
            min-height: 70vh;
        }
        .sign_block,
        .socials_list,
        .lg_block,
        .main_logo,
        .menu_btn {
            @include animStyle(opacity 0.3s);
            @include animDelay(0.3s);
        }
        &.search_opened {
            .sign_block,
            .socials_list,
            .lg_block {
                opacity: 0;
                @include animDelay(0s);
            }
        }
        .search_block {
            height: 44px;
        }
        .search_form {
            position: absolute;
            right: 0;
            top: 50%;
            @include transStyle(translate3d(0,-50%,0));
        }
    }
    @include mediaTo($size576) {
        .main_logo {
            flex: 0 0 144px;
            max-width: 144px;
        }
        .menu_btn {
            margin-right: 15px;
        }
        .socials_list {
            display: none;
        }
        .lg_block {
            margin-left: 15px;
            a {
                font-size: 120%;
                line-height: 18px;
            }
        }
        .search_block {
            margin-left: 15px;
        }
        .sign_block {
            order: 5;
        }
        .primary_btn {
            font-size: 0;
            width: 40px;
            height: 40px;
            align-items: center;
            margin-left: 15px;
            padding: 0;
            min-width: 0;
            &:before {
                margin-right: 0;
            }
        }
        .menu_block:before {
            min-height: 80px;
        }
        .search_form input {
            font-size: 120%;
            line-height: 18px;
        }
        &.search_opened {
            .main_logo {
                opacity: 0;
                @include animDelay(0s);
            }
            .sign_block {
                opacity: 1;
            }
            .search_form {
                width: 62.5vw;
            }
        }
    }
    @include mediaTo($size360) {
        .main_logo {
            flex: 0 0 120px;
            max-width: 120px;
            padding-right: 0;
        }
        .search_block,
        .lg_block,
        .primary_btn {
            margin-left: 10px;
        }
    }
}

@include mediaTo($size960) {
    .menu_opened {
        overflow: hidden;
        &.ios_device {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .menu_block {
            height: 100%;
        }
        .menu_btn {
            span {
                opacity: 0;
                @include animDelay(0s);
            }
            &:before {
                @include transStyle(rotate(45deg));
            }
            &:after {
                @include transStyle(rotate(-45deg));
                width: 22px;
            }
        }
    }
}
