//font families
$regular: "poppins";
$medium: "poppins-medium";
$light: "poppins-light";
$bold: "poppins-bold";
$semibold: "poppins-semibold";
$playfairSb: 'playfair-sb';
$titleFont:"mencken_std_head";
$titleBoldFont: "mencken_std_head_bold";
$titleExtraBoldFont: "mencken_std_head_extrabold";

//media query sizes
$size320: 320px;
$size360: 360px;
$size400: 400px;
$size480: 480px;
$size576: 576px;
$size600: 600px;
$size640: 640px;
$size720: 720px;
$size768: 768px;
$size960: 960px;
$size1024: 1024px;
$size1200: 1200px;
$size1366: 1366px;
$size1440: 1440px;
$size1600: 1600px;
$size1680: 1680px;

//colors
$black: #000000;
$black33: #333333; 
$gray66: #666666;
$gray99: #999999;
$grayE5: #e5e5e5;
$white: #ffffff;
$creamyF2:#f2f2f2;
$error: #dd0000;
$siteColor: #A7AE9E;
$secondColor: #C9C8BF;
$textColor: $black;
$secondTextColor: #252529;
$descriptionColor: #535446;
$footerBorderColor: #161916;
$flagColor: #CFD3B8;
$gray70: #707070;

//social icons original color
$facebookColor: #3b5998;
$twitterColor: #00acee;
$youtubeColor: #c4302b;
$behanceColor: #053eff;
$linkedinColor: #0e76a8;
$okColor: #ed812b;
$pinterestColor: #c8232c;
$vkColor: #4c75a3;
$tiktokColor: #EE1D52;
$telegramColor: #0088cc;
$instagramColor: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//sizes
$containerWidth: 1640px;
$containerPadding: 20px;
$colPadding: 15px;
$rowMargin: -$colPadding;


